:root {
  --color-primary: hsl(322, 100%, 66%);
  --color-primary-light: hsl(322, 100%, 82%);
  --color-neutral-pale-cyan: hsl(193, 100%, 96%);
  --color-neutral-dark-cyan: hsl(192, 100%, 9%);
  --color-neutral-grayish-blue: hsl(208, 11%, 55%); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif; }

.heading-box {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  height: 2rem; }

.btn {
  font-size: 1.2rem;
  border: none;
  background-color: #fff;
  padding: 1rem 3rem;
  border-radius: 100px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.btn--pink {
  background-color: var(--color-primary);
  color: white; }
  .btn--pink:hover {
    background-color: var(--color-primary-light); }

.heading-content {
  margin-top: 6rem;
  display: flex; }
  @media only screen and (max-width: 43.75em) {
    .heading-content {
      margin-top: 4rem;
      flex-direction: column; } }
  @media only screen and (max-width: 31.25em) {
    .heading-content {
      margin-top: 2rem;
      flex-direction: column; } }

.heading-content--main {
  margin-bottom: 2rem; }

.heading-content--left {
  width: 100%;
  align-self: center;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 43.75em) {
    .heading-content--left {
      padding: 3rem;
      margin-bottom: 2rem;
      align-items: center; } }
  @media only screen and (max-width: 31.25em) {
    .heading-content--left {
      padding: 2rem;
      align-items: center; } }

.heading-content--right {
  display: flex;
  justify-content: center;
  width: 100%; }

.paragraph {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #777; }

.paragraph--white {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #fff; }

.legal .paragraph {
  margin: 0; }

.images {
  width: 100%; }
  @media only screen and (max-width: 43.75em) {
    .images {
      text-align: center;
      width: 75%; } }
  @media only screen and (max-width: 31.25em) {
    .images {
      width: 100%; } }

.main-section,
.main-section,
.main-section {
  border-radius: 10px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  display: flex;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 31.25em) {
    .main-section,
    .main-section,
    .main-section {
      flex-direction: column-reverse; } }

.middle-box {
  background-color: #fff;
  width: 40rem;
  text-align: center;
  padding: 3rem 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: -5rem;
  position: relative;
  z-index: 2; }

.logo--svg {
  display: inline-block;
  height: 1.7rem;
  width: 11rem;
  background-color: #fff;
  -webkit-mask-image: url(../images/logo.svg);
  -webkit-mask-size: cover; }

.contact__icon,
.social-account__icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  fill: white; }

.nav__link {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  width: 50%;
  margin-bottom: 3px; }

.footer-content {
  display: flex;
  justify-content: space-between;
  color: #fff; }
  @media only screen and (max-width: 31.25em) {
    .footer-content {
      flex-direction: column; } }

.contact {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column; }

.nav {
  flex: 0 0 30%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start; }
  @media only screen and (max-width: 31.25em) {
    .nav {
      margin-bottom: 2rem; } }

.social-accounts-legal {
  flex: 0 0 30%; }

.footer-paragraph {
  display: inline;
  padding: 1px;
  color: #fff; }

.footer-paragraph:hover {
  border-bottom: 1px solid #fff; }

.social-accounts-legal {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

@media only screen and (max-width: 31.25em) {
  .social-account-box {
    margin-bottom: 2rem; } }

.social-account__icon {
  box-sizing: content-box;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer; }

.social-account__icon:hover {
  border: 1px solid var(--color-primary);
  fill: var(--color-primary);
  border-radius: 50%; }

.header {
  padding: 5rem;
  background-image: linear-gradient(rgba(92, 144, 157, 0.2), rgba(92, 144, 157, 0.2)), url(../images/bg-hero-desktop.svg);
  background-position: center;
  background-size: cover;
  height: 100vh; }
  @media only screen and (max-width: 31.25em) {
    .header {
      background-image: linear-gradient(rgba(92, 144, 157, 0.2), rgba(92, 144, 157, 0.2)), url(../images/bg-hero-mobile.svg); } }

.main {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem; }

.z-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: -3; }

.footer {
  background-color: var(--color-neutral-dark-cyan);
  padding: 5rem;
  color: white;
  padding-top: 10rem;
  z-index: -2; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }
